<mat-card>
    <mat-card-title>Inclusão de Atividade Complementar</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput type="text" placeholder="Título da Atividade:" [(ngModel)]="atividade.name" name="name"
                pattern="[A-Za-z]" [(ngModel)]="value" required />
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Horas:" [(ngModel)]="atividade.horas" name="horas" required />
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Status Inicial:" [(ngModel)]="atividade.status" name="status" disabled />
        </mat-form-field>
        <br>
        <input type="file" onchange="console.log(event.target.files)" [(ngModel)]="atividade.doc" required />
        <br>
        <br>
    </form>

    <p style="font-size: 12px; color: red;">*Campos Obrigatórios</p>

    <button mat-raised-button (click)="createAtividade()" color="primary" type="submit">Salvar</button>&nbsp;
    <button mat-raised-button (click)="cancel()" color="warn">Cancelar</button>
</mat-card>