<mat-card class="card-table mat-elevation-z4">
    <table class="table table-hover" style="width: 100%;">
        <thead>
            <tr>
                <!--Cabeçalho-->
                <th scope="col">Código</th>
                <th scope="col">Situação</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let atividade of atividades">
                <th scope="row">{{atividade.id}}</th>
                <td>{{atividade.status}}</td>
                <td>
                    <a routerLink="/processos/vizualizacao-aluno/{{atividade.id}}"> <button mat-mini-fab
                            style="background-color: #4051b6;"><i class="fas fa-info"></i></button>
                    </a>
                    &nbsp;
                    <a routerLink="/processos/exclusao/{{atividade.id}}"><button mat-mini-fab
                            style="background-color: rgba(255, 0, 0, 0.842);"><i class="far fa-trash-alt"></i></button></a>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="text-align: left;">
    <mat-card-subtitle><span style="font-weight: bolder; color: black;">Total de Horas
            Deferidas:</span>&nbsp;<span>00h.</span></mat-card-subtitle>
    <mat-card-subtitle><span style="font-weight: bolder; color: black;">Horas Restantes:</span>&nbsp;<span>50h.</span>
    </mat-card-subtitle>
    </div>
</mat-card>