<mat-card>
    <mat-card-title style="font-family: 'Poppins'; color: #1d3557;"><i class="far fa-edit"></i>&nbsp;Editar Atividade</mat-card-title>
    <br>
    <form>
        <mat-form-field>
            <input matInput placeholder="Título" [(ngModel)]="atividade.name" name="name" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Horas" [(ngModel)]="atividade.horas" name="horas" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Tipo de Atividade" [(ngModel)]="atividade.doc" name="doc" required>
        </mat-form-field>
        <br>
        <input type="file" onchange="console.log(event.target.files)" [(ngModel)]="atividade.doc" required />
        <br>
        <br>
        <mat-form-field>
            <input matInput placeholder="Status Atual:" name="status" [(ngModel)]="atividade.status" disabled />
        </mat-form-field>
        <br>

    </form>

    <button mat-raised-button (click)="updateAtividade()" color="primary">Atualizar</button>&nbsp;
    <button mat-raised-button (click)="cancel()" color="warn">Cancelar</button>
</mat-card>