<mat-card>
    <mat-card-title style="font-family: 'Poppins'; color: #1d3557;"><i class="fas fa-info-circle"></i>&nbsp;Detalhes da Atividade
    </mat-card-title>
    <mat-card-subtitle>Código: #{{atividade.id}}</mat-card-subtitle>

    <strong>Título: </strong><span>{{atividade.name}}</span><br>
    <strong>Carga Horária: </strong><span>{{atividade.horas}}</span>h.<br>
    <strong>Status de Processo: </strong><span>{{atividade.status}}</span><br>
    <strong>Tipo de Atividade: </strong><span>{{atividade.doc}}</span>
    <br>
    <br>
    <button mat-mini-fab style="background-color: #43aa8b; color: white;"
        routerLink="/processos/edicao/{{atividade.id}}"><i class="far fa-edit"></i></button>
    &nbsp;

    <button mat-mini-fab (click)="openDialog()" style="background-color: #f3722c; color: white;"><i class="fas fa-cloud-download-alt"></i></button>
    <br>
    <br>

    <button mat-raised-button (click)="voltar()" style="background-color: #457b9d; color: white;"><i
            class="fas fa-arrow-circle-left"></i>&nbsp;Voltar</button>

</mat-card>