<mat-card>
    <mat-card-title><i class="fas fa-info-circle"></i>&nbsp;Solicitação de Inclusão
    </mat-card-title>
    <mat-card-subtitle>Código: {{atividade.id}}</mat-card-subtitle>

    <strong>Título: </strong><span>{{atividade.name}}</span><br>
    <strong>Carga Horária: </strong><span>{{atividade.horas}}</span>h.<br>
    <strong>Status de Processo: </strong><span>{{atividade.status}}</span><br>
    <strong>Tipo de Atividade: </strong><span>{{atividade.doc}}</span>
    <br>
    <br>




    <button mat-mini-fab style="background-color: green; color: white;"
        routerLink="/processos/edicao/{{atividade.id}}"><i class="far fa-edit"></i></button>
    &nbsp;
    <button mat-raised-button (click)="openDialog()" class="btn-download"><i class="fas fa-cloud-download-alt"></i>&nbsp;Download dos
        Anexos</button>
    <br>
    <br>

    <button mat-raised-button (click)="voltar()" style="background-color: #457b9d; color: white;"><i
            class="fas fa-arrow-circle-left"></i>&nbsp;Voltar</button>

</mat-card>